Source: libosmscout
Maintainer: Frans Schreuder <info@schreuderelectronics.com>
Uploaders: Frans Schreuder <info@schreuderelectronics.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9~),
               libtool,
               automake,
               autoconf
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/fransschreuder/libosmscout
Vcs-Git: https://github.com/fransschreuder/libosmscout.git
Homepage: https://github.com/fransschreuder/libosmscout

Package: libosmscout-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmscout0 (= ${binary:Version})
Breaks: libosmscout-dev
Provides: libosmscout-dev
Description: Library for managing OpenStreetmaps files in a binary form

Package: libosmscout0
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Library for managing OpenStreetmaps files in a binary form

Package: libosmscout-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmscout0 (= ${binary:Version})
Description: Library for managing OpenStreetmaps files in a binary form
