Source: libosmscoutimport
Maintainer: Frans Schreuder <info@schreuderelectronics.com>
Uploaders: Frans Schreuder <info@schreuderelectronics.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9~),
               libtool,
               automake,
               autoconf,
               libosmscout-dev,
               d-shlibs,
               pkg-config,
               libxml2-dev
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/fransschreuder/libosmscout
Vcs-Git: https://github.com/fransschreuder/libosmscout.git
Homepage: https://github.com/fransschreuder/libosmscout

Package: libosmscoutimport-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmscoutimport0,
         libosmscout0,
         libxml2-dev
Breaks: libosmscoutimport-dev
Provides: libosmscoutimport-dev
Description: Library for managing OpenStreetmaps files in a binary form

Package: libosmscoutimport0
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmscout0,
         libxml2
Pre-Depends: ${misc:Pre-Depends}
Description: Library for managing OpenStreetmaps files in a binary form

Package: libosmscoutimport-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmscoutimport0,
         libosmscout0
Description: Library for managing OpenStreetmaps files in a binary form
